@import "tailwindcss";

/* Only reset html and body, not everything */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Prevent horizontal scroll */
body {
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-montserrat: "Montserrat", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-open-sans: "Open_Sans", sans-serif;
    --font-kumbh: "Kumbh_Sans", sans-serif;
    --font-jost: "Jost", sans-serif;
    --font-plus-jakarta: "Plus_Jakarta_Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

h1 {
  font-family: var(--font-montserrat);
}

button,
li,
Link,
input {
  font-family: var(--font-open-sans);
}

h4 {
  font-family: var(--font-jost);
}

h5 {
  font-family: var(--font-kumbh);
}

.kumbh-sans {
  font-family: var(--font-kumbh), sans-serif;
}

/* ===== React Select Tailwind Match ===== */

.react-select__control {
  background-color: #f8fafc !important;
  border-color: #94a3b8 !important;
  border-radius: 0.275rem !important; /* same as rounded */
  min-height: 42px !important; /* matches py-2 input */
  box-shadow: none !important;
}

/* Focus ring same as Tailwind */
.react-select__control--is-focused {
  border-color: #94a3b8 !important;
  box-shadow: 0 0 0 2px #3b82f6 !important;
}

/* Value text */
.react-select__single-value {
  color: #0a2540 !important;
  font-size: 0.875rem;
}

/* Placeholder */
.react-select__placeholder {
  color: #94a3b8 !important;
  font-size: 0.875rem;
}

/* Input typing text */
.react-select__input-container {
  color: #0a2540 !important;
  font-size: 0.875rem;
}

/* Dropdown */
.react-select__menu {
  border-radius: 0.275rem;
}

/* Options */
.react-select__option {
  font-size: 0.875rem;
}

.react-select__option--is-focused {
  background-color: #e6f4ea !important;
}

.react-select__option--is-selected {
  background-color: #16a831 !important;
  color: #ffffff !important;
}

/* Match sm:text-base */
@media (min-width: 640px) {
  .react-select__single-value,
  .react-select__placeholder,
  .react-select__option {
    font-size: 1rem;
  }
}

.react-select__control {
  cursor: pointer !important;
}

.react-select__option {
  cursor: pointer !important;
}
.react-select__input {
  cursor: text !important;
}

.react-select__input {
  cursor: text !important;
}

